body{
width:1000px;
padding-left:50%;
background: url(%D0%B1%D1%8D%D0%BA%D0%B3%D1%80%D0%B0%D1%83%D0%BD%D0%B4.jpg);
}
#main{
 width:1000px;
 margin-left:-500px;
}
#header{
 background: center url(header.jpg);
 width:1000px;
 height:100px;
 text-align:center;
 color:#FFFFFF;
 font-size:24px;
 padding-top:40px;
}
#menu{
 background: #CCC;
 float:left;
 width:200px;
 height:600px;
 text-align:center;
 color:#FFFFFF;
 font-size:18px;
 padding-top:10px;
}
#content{
 background: url(%D0%B1%D1%8D%D0%BA%D0%B3%D1%80%D0%B0%D1%83%D0%BD%D0%B48.jpg);
 margin-left:200px;
 height:610px;
 text-align:center;
}
#footer{
 background:darkred;
 clear:both;
 width:1000px;
 height:50px;
 text-align:center;
 color:#FFFFFF;
 font-size:14px;
 padding-top:10px;
}
     